{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2>
		<p class="text-align-center">
			Al oeste en Filadelfia, crecía y vivía<br/>
			Sin hacer mucho caso a la policía<br/>
			Jugaba al basket sin cansarme demasiado<br/>
			Porque por las noches me sacaba el graduado<br/>
			Cierto día jugando al basket con amigos<br/>
			Unos tipos del barrio me metieron en un lío<br/>
			Y mi madre me decía una y otra vez<br/>
			¡Con tu tío y con tu tía irás a Bel Air!<br/>
		</p>
	</div>
</div>
{% endblock %}